.mainBlock {
    height: 100vh;
    background-color: #2f2626;
}


.greeting {
    width: 300px;
    background-color: darkgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgray;
}