.project {
    width: 450px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectImg {
    height: 250px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projectImg::before {
    position: absolute;
    content: "";
    background-color: black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.buttonLink {
    background-color: #1f1f20;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.projectTitle {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: white;
    font-family: 'SansSerif', sans-serif;
}

.description {
    font-family: 'Poppins', sans-serif;
   line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.projectInfo {
    padding: 25px 20px;
}