
.projectsBlock{
    /*min-height: 100vh;*/
    background-color: lightgreen;
    background-color: #1f1f20;

}

.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: burlywood;
    margin-bottom: 30px;
}

.title h2{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight:300 ;
    color: white;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width:  1129px){
    .projects {
        justify-content: center;
    }
}